In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
df_stocks = pd.read_csv('constituents_csv.csv')

In [37]:
df_stocks

    Symbol                    Name                  Sector
0      MMM              3M Company             Industrials
1      AOS         A.O. Smith Corp             Industrials
2      ABT     Abbott Laboratories             Health Care
3     ABBV             AbbVie Inc.             Health Care
4     ABMD             ABIOMED Inc             Health Care
..     ...                     ...                     ...
500    YUM         Yum! Brands Inc  Consumer Discretionary
501   ZBRA      Zebra Technologies  Information Technology
502    ZBH  Zimmer Biomet Holdings             Health Care
503   ZION           Zions Bancorp              Financials
504    ZTS                  Zoetis             Health Care

[505 rows x 3 columns]

In [38]:
df_stocks.drop(columns=['Name','Sector'],axis=1,inplace=True)

In [39]:
df_stocks

    Symbol
0      MMM
1      AOS
2      ABT
3     ABBV
4     ABMD
..     ...
500    YUM
501   ZBRA
502    ZBH
503   ZION
504    ZTS

[505 rows x 1 columns]

In [40]:
df_stocks.set_index('Symbol')

Empty DataFrame
Columns: []
Index: [MMM, AOS, ABT, ABBV, ABMD, ACN, ATVI, ADBE, AAP, AMD, AES, AFL, A, APD, AKAM, ALK, ALB, ARE, ALXN, ALGN, ALLE, LNT, ALL, GOOGL, GOOG, MO, AMZN, AMCR, AEE, AAL, AEP, AXP, AIG, AMT, AWK, AMP, ABC, AME, AMGN, APH, ADI, ANSS, ANTM, AON, APA, AIV, AAPL, AMAT, APTV, ADM, ANET, AJG, AIZ, T, ATO, ADSK, ADP, AZO, AVB, AVY, BKR, BLL, BAC, BAX, BDX, BRK.B, BBY, BIO, BIIB, BLK, BA, BKNG, BWA, BXP, BSX, BMY, AVGO, BR, BF.B, CHRW, COG, CDNS, CPB, COF, CAH, KMX, CCL, CARR, CAT, CBOE, CBRE, CDW, CE, CNC, CNP, CTL, CERN, CF, SCHW, CHTR, ...]

[505 rows x 0 columns]

In [45]:
df_stocks = df_stocks.transpose()

In [46]:
df_stocks.columns=df_stocks.iloc[0].values

In [47]:
df_stocks

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AAP,AMD,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Symbol,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AAP,AMD,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS

In [48]:
df_stocks.drop(index='Symbol',inplace=True)

In [80]:
df_stocks

Empty DataFrame
Columns: [MMM, AOS, ABT, ABBV, ABMD, ACN, ATVI, ADBE, AAP, AMD, AES, AFL, A, APD, AKAM, ALK, ALB, ARE, ALXN, ALGN, ALLE, LNT, ALL, GOOGL, GOOG, MO, AMZN, AMCR, AEE, AAL, AEP, AXP, AIG, AMT, AWK, AMP, ABC, AME, AMGN, APH, ADI, ANSS, ANTM, AON, APA, AIV, AAPL, AMAT, APTV, ADM, ANET, AJG, AIZ, T, ATO, ADSK, ADP, AZO, AVB, AVY, BKR, BLL, BAC, BAX, BDX, BRK-B, BBY, BIO, BIIB, BLK, BA, BKNG, BWA, BXP, BSX, BMY, AVGO, BR, BFB, CHRW, COG, CDNS, CPB, COF, CAH, KMX, CCL, CARR, CAT, CBOE, CBRE, CDW, CE, CNC, CNP, CTL, CERN, CF, SCHW, CHTR, ...]
Index: []

[0 rows x 505 columns]

code needs to loop through all of the column headers (stock ticker names)

Then code should feed each name into yf.Tickers which should be continued with the .history attribute with a period of one day

This value should then be

In [98]:
#run this once per day
current_price = []
for tick in df_stocks.columns:
    current_price.append(yf.Ticker(tick).history(period='1d').Open.values[0])

In [77]:
df_stocks=df_stocks.rename(columns={'BRK.B':'BRK-B','BF.B':'BFB'})

In [106]:
df_stocks.loc[len(df_stocks.index)] = current_price

In [97]:
# testing which code segement runs faster
%%timeit
yf.Ticker('MSFT').history(period='1d').Open.values.tolist()[0]

194 ms ± 28.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [95]:
# testing which code segement runs faster
%%timeit
yf.Ticker('MSFT').history(period='1d').Open.values[0]

184 ms ± 13.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [104]:
df_stocks.drop(index=[0,1],inplace=True,axis=0)

In [107]:
df_stocks

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AAP,AMD,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
0,155.47,52.46,100.14,97.0,299.46,223.04,81.37,436.83,147.06,68.1,...,70.62,67.4,16.03,106.0,75.11,93.66,287.83,135.05,32.32,147.1