In [27]:
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

In [17]:
df_stocks = pd.read_csv('constituents_csv.csv')

In [18]:
df_stocks

    Symbol                    Name                  Sector
0      MMM              3M Company             Industrials
1      AOS         A.O. Smith Corp             Industrials
2      ABT     Abbott Laboratories             Health Care
3     ABBV             AbbVie Inc.             Health Care
4     ABMD             ABIOMED Inc             Health Care
..     ...                     ...                     ...
500    YUM         Yum! Brands Inc  Consumer Discretionary
501   ZBRA      Zebra Technologies  Information Technology
502    ZBH  Zimmer Biomet Holdings             Health Care
503   ZION           Zions Bancorp              Financials
504    ZTS                  Zoetis             Health Care

[505 rows x 3 columns]

<h1>Data Wrangling</h1>

In [19]:
df_stocks.drop(columns=['Name','Sector'],axis=1,inplace=True)
df_stocks.set_index('Symbol')
df_stocks = df_stocks.transpose()
df_stocks.columns=df_stocks.iloc[0].values
df_stocks.drop(index='Symbol',inplace=True)
df_stocks=df_stocks.rename(columns={'BRK.B':'BRK-B','BF.B':'BFB'})

In [20]:
df_stocks

Empty DataFrame
Columns: [MMM, AOS, ABT, ABBV, ABMD, ACN, ATVI, ADBE, AAP, AMD, AES, AFL, A, APD, AKAM, ALK, ALB, ARE, ALXN, ALGN, ALLE, LNT, ALL, GOOGL, GOOG, MO, AMZN, AMCR, AEE, AAL, AEP, AXP, AIG, AMT, AWK, AMP, ABC, AME, AMGN, APH, ADI, ANSS, ANTM, AON, APA, AIV, AAPL, AMAT, APTV, ADM, ANET, AJG, AIZ, T, ATO, ADSK, ADP, AZO, AVB, AVY, BKR, BLL, BAC, BAX, BDX, BRK-B, BBY, BIO, BIIB, BLK, BA, BKNG, BWA, BXP, BSX, BMY, AVGO, BR, BFB, CHRW, COG, CDNS, CPB, COF, CAH, KMX, CCL, CARR, CAT, CBOE, CBRE, CDW, CE, CNC, CNP, CTL, CERN, CF, SCHW, CHTR, ...]
Index: []

[0 rows x 505 columns]

<h2>Pseudo Code</h2>

Code needs to loop through all of the column headers (stock ticker names)

Then code should feed each name into yf.Tickers. In the same line, continue with the .history attribute with a period of <b>one day </b> this returns a dataframe with various stock info in multiple columns.

Get the Opening stock price column from the dataframe and make sure it comes in a format that can be put into a list of the same length as the number of stock tickers we have (505)

In [6]:
#run this once per day
current_price = []
for tick in df_stocks.columns:
    current_price.append(yf.Ticker(tick).history(period='1d').Open.values[0])

In [62]:
# finds the lowest row in the dataframe (How? Since python uses 0-indexing and the len() function returns a real count, inputting the output of the length of an index as an index location will always result in the lowest position of the index +1)
# sets the list of stock prices created above as the bottom row
df_stocks.loc[len(df_stocks.index)] = current_price

In [97]:
# testing which code segement runs faster
%%timeit
yf.Ticker('MSFT').history(period='1d').Open.values.tolist()[0]

194 ms ± 28.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [95]:
# testing which code segement runs faster
%%timeit
yf.Ticker('MSFT').history(period='1d').Open.values[0]

184 ms ± 13.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [104]:
# used this code when testing to remove data that was in the way
df_stocks.drop(index=[0,1],inplace=True,axis=0)

In [63]:
df_stocks

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AAP,AMD,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
0,165.0,50.11,99.55,93.45,294.85,230.3,79.58,437.37,153.58,78.43,...,89.49,70.72,17.89,104.67,80.95,93.3,281.97,139.66,35.61,157.31
1,165.0,50.11,99.55,93.45,294.85,230.3,79.58,437.37,153.58,78.43,...,89.49,70.72,17.89,104.67,80.95,93.3,281.97,139.66,35.61,157.31